.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo {
  width: 150px;
}
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar button {
  width: 80px;
  height: 30px;
  font-size: 18px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #772b2b;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  background-color: chocolate;
}
.navbar button:hover {
  background-color: #ba2308;
}
.navbar-menu li {
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}
.navbar-menu a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  position: relative;
}
.navbar-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: width 0.3s ease;
}
.navbar-menu a:hover::after {
  width: 100%;
}
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  right: -8px;
  top: -8px;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}
